import  java.util.Scanner ;

public  class  Main {

	public  static  void  main ( String [] args ) {
		
		Scanner in =  novo  Scanner ( System . In);
		
		Sistema . para fora . println ( " Digite caracteres figuras deseja incluir: " );
		limite interno = pol . nextInt ();
		
		Quadrilatero [] figuras =  novo  Quadrilatero [limite];

		Sistema . para fora . println ( " Digite 'R' para criar um reatangulo ou digite 'Q' para cirar um quadrado " );
		
		para ( int i =  0 , j =  1 ; i < limite; i ++ , j ++ ) {
			Sistema . para fora . printf ( " \ n Formato da figura% d: " , j);
			String formato = in . Próximo();
			
			if (formato . igual a ( " R " )) {
				Sistema . para fora . println ( " \ n Digite a medida da base: " );
				base flutuante = pol . nextFloat ();
				
				Sistema . para fora . println ( " Digite a medida da altura: " );
				float altura = pol . nextFloat ();
				
				figuras [i] =  novo  Retangulo ();
				figuras [i] . setAltura (altura);
				figuras [i] . setBase (base);
				
			} else  if (formato . equals ( " Q " )) {
				Sistema . para fora . println ( " \ n Digite a medida dos lados: " );
				float lado = in . nextFloat ();
				
				figuras [i] =  novo  Quadrado ();
				figuras [i] . setLado (lado);
			} else {
				Sistema . para fora . println ( " O formato especificado é invalido, tente novamente! " );
				i - ;
			}
			
			
		}
		
		for ( int i =  0 , j = 1 ; i < figuras . comprimento; i ++ , j ++ ) {
			String classe =  String . valueOf (figuras [i] . getClass ()) . dividir ( "  " ) [ 1 ];
			
			Sistema . para fora . printf ( " \ n Figura% d " , j);
			Sistema . para fora . printf ( " \ n Classe:% s " , classe);
			Sistema . para fora . printf ( " \ n Área:% .2f " , figuras [i] . getArea ());
			Sistema . para fora . printf ( " \ n Perimetro:% .2f " , figuras [i] . getPerimetro ());
			
			Sistema . para fora . println ( " " );
		}
		
		no . perto();
		
	}

}
